// ==========================================================================================
// Base
// ==========================================================================================

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
}

body {
	font-size: 13px;
}

*, *:before, *:after{
 	box-sizing: inherit;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	&:focus {
		@include tab-focus;
	}
}

img {
	vertical-align: middle;
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

[role="button"] {
 	cursor: pointer;
}